* {
  color: "#9F9F9F";
  background-color: "#9F9F9F";
}

.center {
  text-align: center;
}

.centerspiner {
  text-align: center;
}

.containerApp {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.logo {
  width: 70%;
  margin: auto;
}

.lob {
  width: 100%;
  border-radius: 2vw;
}

.small {
  width: 20%;
  margin: auto;
}

.benevit {
  border: 1px solid;
  border-color: #0d1247;
  box-shadow: 1.95px 1.95px 1.95px #0d1247;
  border-radius: 5px;
}

.benevitl {
  border: 1px solid;
  border-color: #ec5056;
  box-shadow: 1.95px 1.95px 2.6px #da7373;
  border-radius: 5px;
}
.benevitlError {
  color: #ec5056;
}
.logos {
  width: 20%;
  margin: auto;
}
